* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* :root {

} */
body {
  margin: 0;
  font-family: 'Lato', sans-serif; /* 300, 400, 700 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: initial;
  display: block;
}
/* a:hover {
  cursor: default;
} */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
} 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
} li {
  margin: 0;
  padding: 0; 
}
button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* start container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} 
/* end container */

/* start media query  */
/* Small */
@media (min-width: 768px) {
  .container {
      width: 750px;
      /* background-color: burlywood; */
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
      width: 970px;
      /* background-color: brown; */
  }
}
  /* Large */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
      /* background-color: blue; */
  }
}
/* end media query */